* {
	font-family: 'Lora' !important;
}

fieldset {
	margin-top: 5px !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	padding-left: 12px !important;
	padding-right: 12px !important;
	border: 2px groove !important;
}

.wrap {
	word-wrap: break-word !important;
}

.pad {
	padding: 5px !important;
}

.slider_values {
	display: flex;
}

.slider_left {
	padding: 3px !important;
	flex: 50%;
	min-width: 50%;
	word-wrap: break-word;
}

.slider_right {
	padding: 3px !important;
	flex: 50%;
	min-width: 50%;
	text-align: right;
	word-wrap: break-word;
}

.slider_container {
	margin-top: 2px;
}

.ui-checkboxradio-label {
	word-wrap: break-word !important;
    max-width: 100% !important;
}

img {
	max-width: min(600px, 70%);
	max-height: 500px;
}

.delete {
	float: right;
	display: inline-block;
	font-weight: 900;
	color: #C00;
}

.delete:hover {
	text-decoration: underline;
	cursor: pointer;
}

.delete_choice {
	margin-left: 5px;
	font-weight: 900;
	color: #C00;
}

.delete_choice:hover {
	text-decoration: underline;
	cursor: pointer;
}

#fixed {
	position: fixed;
	bottom: 20px;
	right: 20px;
}