{% extends "layout.html" %}

{% block body %}
<p>
	<h2>Create a new poll</h2>
	
	<form method="POST" action="{{ url_for('new_poll') }}">
		Title: <input name="title" type=text><br>
		Description:<br>
		<textarea name="desc" style="width: 100%"></textarea>
		<div id="questions">

		</div>
		<button type="button" class="jbtn ui-button ui-widget ui-state-default ui-corner-all" id="new_slider">New slider</button><br>
		<button type="button" class="jbtn ui-button ui-widget ui-state-default ui-corner-all" id="new_multichoice">New multiple choice single select question</button><br>
		<button type="button" class="jbtn ui-button ui-widget ui-state-default ui-corner-all" id="new_multichoice_multi">New multiple choice multi select question</button><br>
		<input class="jbtn ui-button ui-widget ui-state-default ui-corner-all" type="submit" value="Create poll">
	</form>
</p>
{% endblock %}